
.setReminder{
  border-radius: 10px;
  background-color: #56a1ec;
}
.reminder-form input{
background-color: #8cc1f5;
border: none;
}
.datepicker{
  cursor: pointer;
}
.custom-notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f8f9fa;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.opacity-1{
  opacity: 0;
  transition: opacity 0.4s ease;
}
.card:hover .opacity-1{
  opacity: 1;
  transition: 0.2;
}

.textarea-field{
    border: none;
}
.modal-save,.Addtask{
    border: none;
  color: white;
  font-weight: bold;
white-space: nowrap;
  text-align: center;
  text-decoration: none;
padding: 0.6rem 1rem ;
border-radius: 20px;
background: rgb(105,120,218);
background: linear-gradient(90deg, rgba(105,120,218,1) 25%, rgba(129,141,224,0.9920343137254902) 79%);
}


.Addtask:hover{
background: rgb(105,120,218);
}
.task-title-input{
    max-width: 500px;
    border: 2px solid #89ACFA ;
}
.taskreminder,.bookMark{
cursor: pointer;
}
.copyIcon,.deleteIcon,.editIcon{
    font-size: 1.2rem;
    cursor: pointer;
}

.card-main{
    min-height: 200px;
    overflow: hidden;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.task-content{
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 6; /* Limit content to 5 lines */
line-clamp: 5;
font-weight: 600;
}

.user-profile{
    font-size: 25px;
    color:  rgb(87, 96, 158);
    font-weight: 900;
    border: none;
    cursor: pointer;
}


.card-date{
    font-weight: 700;
}
nav{
    
    background: rgb(128,175,247);
    background: linear-gradient(90deg, rgba(128,175,247,1) 21%, rgba(153,166,254,1) 100%);
}
.navbar-brand,.navbar .nav-link{
    font-weight: 600;
}
.langbtn{
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    background: #6978da;
    font-weight: 600;
    background: rgb(105,120,218);background: linear-gradient(90deg, rgba(105,120,218,1) 18%, rgba(105,120,218,1) 60%);
}
.form-control:focus {
    outline: none; /* Remove the default outline */
    box-shadow: none;
  }
  
/* 
.dropdown-content {

    background: rgb(105,120,218);
    min-width: 160px;
    position: absolute;
    z-index: 1000;
    right: 0;
    
    border-radius: 10px;
    opacity: 1;
    visibility: hidden; 
    transition: opacity 0.3s ease, visibility 0.3s ease;
    display: block; 
} */.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
  display: block;
  padding: 0.5rem 0;
  margin: 0;
  background: #8996e9;
  
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.4rem 1rem;
  clear: both;
  color: #333;
  text-align: inherit;
  text-decoration: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-weight: 600;
}

.dropdown-item:hover {

    background: rgb(128,175,247);
    background: linear-gradient(90deg, rgba(128,175,247,1) 21%, rgba(153,166,254,1) 100%);
}
.blinking-message{
    animation: blink 0.5s ease-in-out 1;
}

.border-success-custom{
    border: 2px solid #6978DA !important;
}
.border-danger-custom{
    border: 2px solid #e43a1c;
    
}
@keyframes blink{
    0% {
        opacity: 1;
      }
      25% {
        opacity: 0.5;
      }
      50% {
        opacity: 0;
      }
      75% {
        opacity: 0.5;
      }
      100% {
        opacity: 1;
      }
}
/* 
@media (max-width: 575.98px) {
  .Addtask{
    right: 0px;
  gap:10px;  }
    textarea {
      width: 75%;
    }
    .header-2{
      width: 95%;
      margin: 0 auto;
    }
    .error-message{
      left: 0%;
      font-size: 13px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .Addtask{
    right: 0px;
  gap: 10px;  }
    textarea {
      width: 75%;
    }
    .header-2{
      width: 90%;
      margin: 0 auto;
    }
    .error-message{
      left: 0%;
    }
  
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .Addtask{
right: 0px;
gap: 10px;
}
    textarea {
    
    width: 80%;
    }
    .header-2{
      width: 70%;
      margin: 0 auto;
    }
    .error-message{
      left: 0%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .Addtask{
    right: 0px;  }
    textarea {
      width: 80%;
    }
    .header-2{
      width: 60%;
      margin: 0 auto;
    }
    .error-message{
      left: 0%;
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .Addtask{
    right: 0px;  }
    textarea {
      width: 80%;
    }
    .header-2{
      width: 50%;
      margin: 0 auto;
    }
    .error-message{
      left: 0%;
    }
}

@media (min-width: 1400px) {
  .Addtask{
    right: 0px;  }
    textarea {
      width: 80%;
    }
    .header-2{
      width: 50%;
      margin: 0 auto;
    }
    .error-message{
      left: 0%;
    }
} */
